#cloud-config
# https://cloudinit.readthedocs.io/en/latest/topics/examples.html
#
# This is the configuration syntax that the write_files module will know how to understand. 
# Encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is provided.

# Note: Content strings here are truncated for example purposes

ssh_pwauth: True
chpasswd:
  list: |
     root: password
  expire: False

users:
  - name: khondo1
    passwd: password
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQCucKpKZfolNlN9oMprbKBUsdcdqjVW1alJ+Bcg1NMu7l6RP2t6nC7xlEzTz2laHmhJGYQR3S2eZH5TeVlQTxVJz1TIjQM94s2hD14V9eqkA1MqcpYkHPWb82m4QpD7bwvSvgIst7PrymqVkDVTyKrYlCgIW+xNT/KwnK/PLtHdo8gfqCZduY/AEVsu9np7Dd0vSQJtaUEukId3GqVSHp8DWLprTi9b21VwyZFM2W3zlNGnXB0fmAL5h2Wl8ccWM5jbxL4GUqw/0vKQsMgslTKCrpddcfW9WV7LSw/DWGqHejWM11+qWx83ewqu70pV94RSypmy83VRR0bbjhDlAyAI0QMZ8ViTzYDPQ86DozR+ynxfGGaofth8RWmJkJBYMtej5yrfh8uFE633kosF7GtGNyxnFwS3FL9wMV7SdH4v89IpZJg00WD2YzP8KiLZaCtYbdtabOOHmbIIflV1eTrAAzdpGyoXnBsm4EYId4vbmNtMFpGh7rZP+TFhlppSeak= khondo1@miaas
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: wheel